.inline{
  display: inline;
}

.blue{
  height: 120px;
}

.bg-orange{
  background-color: orangered;
}

.logo-login{
  height: 450px;

}
.jstree-themeicon-custom {
  background-size: 18px !important;
}

.buscarInput{
  width: 250px !important;
  display: inline-block !important;
}

#blockLinea > div.blockUI.blockMsg.blockElement{
  top: 37% !important;
  left: 35% !important;
}

.pt-33{
  padding-top: 33px;
}

.block{
  display: block;
}

label.error{
  margin-left: 10px;
  color:#a20a0a;
}

#blockUnidad > div.blockUI.blockMsg.blockElement{
  top: 37% !important;
  left: 35% !important;
}

.select2-container--default{
  display: block !important;
}

.select2-selection.select2-selection--single{
  height: auto !important;
}

span.select2-selection__arrow{
  height: 40px !important;
}