{% form_theme form 'formTemplate.html.twig' %}
{% block css %}
<style>
	label {
		margin-right: 25px;
		margin-top:10px;
	}
    label[for="linea_active"]{
        width:100px;
    }
    label[for="linea_internet"]{
        width:100px;
    }
	input{
		margin-bottom:15px;
	}
</style>
{% endblock %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button><br><br>
{{ form_end(form) }}
