{% extends 'base.html.twig' %}

{% block title %}New Asociacion{% endblock %}

{% block body %}
    <h1>Create new Asociacion</h1>

    {{ include('asociacion/_form.html.twig') }}

    <a href="{{ path('asociacion_index') }}">back to list</a>
{% endblock %}
