{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-4 offset-md-4">
    <a class="btn btn-info float-right" href="{{ path('user_index') }}">Atras</a>
    <h1>Nuevo Usuario</h1>
    {{ include('user/_form.html.twig') }}
	</div>
</div>

{% endblock %}
